.container {
    margin:  0;
    padding: 0;
}

.button-container {
    @include flex-centered();
    @include margin-center();
}

.container--branches,
.container--leaf-pile,
.container--search {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 100px;
}

.branch {
    @include flex-centered();
    margin: 10px;
    $size: 100px;
    height: $size;
    width:  80%;
    max-width: 600px;

    border: 1px solid;

    .branch__title {
        text-align: center;
        font-size: 2em;
    }
    &.branch--pile {
        $size: 250px;
        height: $size;
        width:  $size;
    }
}

.leaf {
    @include margin-center();
    width:  90%;
    &.leaf--content {
        height: 300px;
        background-size: 100% auto;
        background-repeat: no-repeat;
        font-size: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
        border: 1px solid;
        padding: 10px;
        .leaf__publisher-via-source {
            height: 50px;
            padding: 5px;
        }
        .leaf__copy {
            display: block;
        }
    }
    &.leaf--pile {
        @include flex-centered();
        justify-content: space-between;
        height: 60px;
        border: 1px solid $border-color;
        margin-bottom: 20px;
        padding-right: 20px;
        padding-left:  20px;
        .leaf__title {
            font-size: 2em;
        }
    }
}
