.container {
    margin:  0;
    padding: 0;
}

.button-container {
    @include flex-centered();
    @include margin-center();
}

.container--branches,
.container--leaf-pile,
.container--search {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 100px;
}
.container--feed {
    padding-top: 20px;
    padding-bottom: 100px;
}

.branch {
    @include flex-centered();
    margin: 10px;
    $size: 100px;
    height: $size;
    width:  100%;
    max-width: 600px;

    border: 1px solid;

    .branch__title {
        text-align: center;
        font-size: 2em;
    }
}

.leaf {
    @include margin-center();
    width:  100%;
    &.leaf--content {
        min-height: 300px;
        font-size: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: 1px solid;
        padding: 10px;
        .background-image-and-source {
            height: 0;
            width: 100%;
            padding-bottom: 80%;
            background-size: 100% auto;
            background-repeat: no-repeat;
        }
        .leaf__publisher-via-source {
            height: 50px;
            padding: 5px;
            border: 0;
        }
        .leaf__copy {
            display: block;
            width: 100%;
            span.border-bottom {
                @include margin-center();
                width: 90%;
                border-bottom: 1px solid #aaaaaa;
            }
        }
    }
    &.leaf--pile {
        @include flex-centered();
        justify-content: space-between;
        height: 60px;
        border-bottom: 1px solid $border-color;
        &:first-child {
            border-top: 1px solid $border-color;
        }
        .leaf__title {
            font-size: 2em;
        }
    }
}
