.container--feed {
    .leaf {
        padding: 0;
    }
    .leaf__copy {
        padding-right: 5px;
        padding-left:  5px;
        padding-bottom: 5px;
    }

    .publisher-and-time {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        .publisher-via-medium {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .publisher {
                display: flex;
                align-items: center;
                margin-right: 5px;
                .the-publisher {
                    border: 1px solid;
                    height: 40px;
                    width:  40px;
                    margin-right: 10px;
                }
            }
            .medium {
                font-weight: bold;
            }
        }
        .time-and-like-status {
            display: flex;
            align-items: center;
            float: right;
            .heart-like-status {
                color: black;
                font-size: 1.5em;
                margin-left: 10px;
                .fill {
                    color: #ce3233;
                }
            }
        }
    }
}