.button-container {
    height: 500px;
    width:  500px;
}

.the-forest {
    font-size: 25px;
    margin: 15px;
    text-align: center;
}

.branch {
    color: black;
    border: 0;
    .content {
        width: 100%;
        .publisher-logo {
            height: 50px;
            width: 50px;
            border: 1px solid;
        }
        .title-and-drag {
            padding-top: 20px;
            padding-bottom: 20px;
            @include flex-centered();
            justify-content: space-between;
            @include margin-center();
            width: 90%;
            height: inherit;
            border-bottom: 1px solid #aaa;
            > span,
            > div {
                flex: 1 1 auto;
            }
        }
        .drag-me-button {
            $size: 40px;
            width:  $size;
            height: 20px;
            @include flex-centered(column);
            justify-content: space-between;
            .line,
            &::before,
            &::after {
                height: 1px;
                width: $size / 1.5;
                border: 1px solid #aaa;
                display: block;
            }
            &::before,
            &::after {
                content: '';
            }
        }
    }
}