.button-container {
    height: 500px;
    width:  500px;
}

.the-forest {
    font-size: 25px;
    margin: 15px;
    text-align: center;
}

.branch {
    color: black;
    border: 0;
    margin: 0;
    height: auto;
    &:last-child {
        .title-and-drag {
            border-bottom: 0;
        }
    }
    .content {
        width: 100%;
        .title-and-drag {
            @include flex-centered();
            justify-content: space-between;
            @include margin-center();

            padding-top: 20px;
            padding-bottom: 20px;
            width: 90%;
            height: inherit;
            border-bottom: 1px solid #aaa;

            .publisher-logo {
                height: 50px;
                width: 50px;
                border: 1px solid;
                flex: 0 1 50px;
            }

            .branch__title {
                flex: 1 0 50px;
                text-align: left;
                padding-left: 20px;
                padding-right: 20px;
            }

            .drag-me-button {
                @include flex-centered(column);
                justify-content: space-between;
                flex: 0 1 40px;

                $size: 40px;
                width:  $size;
                height: 20px;

                .line,
                &::before,
                &::after {
                    height: 1px;
                    width: $size / 1.5;
                    border: 1px solid #aaa;
                    display: block;
                }
                &::before,
                &::after {
                    content: '';
                }
            }
        }
    }
}