<div class="container container--branches">
    <div ng-repeat="branch in branches_page1" ng-click="gotoRoute({path: '/pseudo-feed', branch: branch.slug})" class="branch">
        <div class="content">
            <div class="title-and-drag">
                <div class="publisher-logo">{{branch.publisher}}</div>
                <div class="branch__title">{{branch.title}}</div>
                <span class="drag-me-button">
                    <span class="line"></span>
                </span>
            </div>
        </div>
    </div>
</div>
