<div class="container container--leaf-pile" ng-init="branches = true">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <a class="navbar-brand" ng-click="branches = !branches">Branches</a>
            <a class="navbar-brand" ng-click="branches = !branches">Leaves</a>
        </div>
    </nav>
    <div class="fields-container">
        <div ng-show="branches" class="branches">
            <h1>branches</h1>
        </div>
        <div ng-show="!branches" class="leaves">
            <h1>leaves</h1>
        </div>
    </div>
</div>
