<div class="container container--feed">
    <div class="leaves">
        <div class="leaf leaf--content" ng-repeat="media in feed track by $index">
            <div class="publisher-and-time">
                <div class="publisher-via-medium">
                    <span class="publisher">
                        <span class="the-publisher">{{media.publisher}}</span> via </span>
                    </span>
                    <span class="medium" ng-if="media.data">Instagram</span>
                    <span class="medium" ng-if="!media.data">Twitter</span>
                </div>
                <span class="time-and-like-status">
                    <span class="time">2 hours</span>
                    <span class="heart-like-status">
                        <i class="fa" ng-click="colorFill = !colorFill" ng-class="{fill: colorFill, 'fa-heart-o': !colorFill, 'fa-heart': colorFill}"></i>
                    </span>
                </span>
            </div>
            <div ng-if="media.data.image || media.image" class="background-image-and-source" style="background-image: url({{media.data.image}}{{media.media}});"></div>
            <span class="leaf__copy" style="background-color: white;">
                {{media.text}}{{media.data.caption}}
                <span class="border-bottom"></span>
            </span>
        </div>
    </div>
</div>
