<div class="container container--settings">
    <div class="settings">
        <div class="default-branch">
            <select name="" id="input" class="form-control" style="width: 90%; margin: 0 auto;">
                <option value="/">-- Select One --</option>
                <option value="/news">News</option>
                <option value="/food">Food</option>
                <option value="/new-york-times">New York Times</option>
                <option value="/world-news">World News</option>
                <option value="/humans-of-new-york">Humans of New york</option>
            </select>
        </div>
    </div>
</div>
