.navbar-fixed-bottom {
    .navbar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navbar-brand {
            @include flex-centered();
            padding: 0;
            height: 70px;
            width: 50px;
            &.highlight {
                border-top: 1px solid red;
            }
        }
    }
}