.navbar-fixed-bottom {
    .navbar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #ebebeb;

        .navbar-brand {
            @include flex-centered();
            padding: 0;
            height: 70px;
            width: 50px;
            i {
                color: #b9b9b9;
            }
            &.highlight {
                i {
                    color: #006668;
                }
            }
        }
    }
}